@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: rgb(0, 0, 36);
    background: linear-gradient(90deg, rgba(0, 0, 36, 1) 0%, rgba(90, 6, 90, 1) 31%, rgba(9, 89, 121, 1) 67%, rgba(0, 212, 255, 1) 100%);
    min-height: 100vh;
    text-align: center;
}
h1{
    font-family: 'Cinzel', cursive;
    color: yellow;
    margin-top: 20px;
    font-size: 5em;

}
